.App {
  text-align: center;
  height: 400px;
  width: 70%;
  border: solid 1px grey;
  border-radius: 6px;
  top:200px;
  left:50%;
  position: relative;
  transform: translateX(-50%);
}

.chat-window{
    width: 70%;
    display: inline-block;
    text-align: left;
    padding:10px;
}

.chat-window .msg{
    padding: 5px 0;
    border-bottom: solid 1px grey;
}

.contact-list{
    width: 30%;
    display: inline-block;
}

.chat-form{
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 20px;
  text-align: left;
  padding: 10px;
}
